
            img
            {
                width: 400px;
            }
            #thirdDiv
            {
                width: 500px;
                height: 600px;
                background: violet;
                padding: 50px;
                border: 10px dashed black;
            }
            #spanId
            {
                margin: 50px;
                font-size: 18px;
            }
            body
            {
                background-image: url(bosque.jpg);
            }