
            img
            {
                width: 400px;
            }
            #thirdDiv
            {
                width: 500px;
                height: 600px;
                background: violet;
                padding: 50px;
                border: 0.5cm dashed black;
            }
            #spanId
            {
                margin: 50px;
            }